# University Management System
## Contributors
- [insane-banda](https://github.com/insane-banda)
- [rohanverma2711](https://github.com/rohanverma2711)
- [CodePredator01](https://github.com/CodePredator01)

In [1]:
# Import Dependencies
import mysql.connector
import re
import pandas as pd

In [2]:
# Fetch database url form config.txt
c = [re.findall(r".*='(.*)'.?", line) for line in open('.\config.txt')]
h = c[0][0]
u = c[1][0]
p = c[2][0]

In [3]:
# Establish database connection
mydb = mysql.connector.connect(host=h,username=u,password=p,database="ums")
mycursor = mydb.cursor()

In [10]:
# Function which returns names of all the columns in input table if exists
def getColumnNames(tableName):
    query = "DESCRIBE {};".format(tableName)
    mycursor.execute(query)
    columns = []
    for column in list(mycursor.fetchall()):
        columns.append(column[0])
    return(columns)

# 1- To change column name form Date_of_Birth to DOB in STUDENTS Table

In [5]:
mycursor.execute("ALTER TABLE STUDENTS CHANGE Date_of_Birth DOB DATE;")

# 2- To fetch all the values from STUDENTS table

In [12]:
mycursor.execute("SELECT * FROM STUDENTS;")
result = mycursor.fetchall()
columns = getColumnNames('STUDENTS')
display(pd.DataFrame(data=result,columns=columns))

,STUDENT_ID,F_NAME,L_NAME,DOB,Gender,Phone,Email,House_Number,City,Street,Town,Semester,CPI
0,123,Amy,Smith,1996-06-26,F,8975461234,asa@.gmail.com,20,Agra,M.G Road,Shahganj,3,8.40
1,234,Bob,Johnson,1995-04-07,M,8978948646,abc@.gmail.com,21,Firozpur,M.L Road,ahmednagar,2,8.80
2,345,Craig,Williams,1995-02-04,M,8968954646,ade@gmail.com,17,Firozabad,Agra Road,Tundla,2,8.90
3,456,Doris,Brown,1997-07-24,F,8975463334,abd@gmail.com,19,Varanasi,Ganga road,damanagar,2,7.70
4,567,EDward,Jones,1996-12-21,M,8978947859,axe@gmail.com,16,Banda,G.t Road,Raniganj,4,8.00
5,678,Fay,Miller,1996-08-27,M,8945687924,aqw@gmail.com,18,Mirzapur,tilak Road,Chittoor,3,8.30
6,765,Jay,Wilson,1998-08-08,M,6354512128,ang@gmail.com,12,Noida,S.N Road,Kanpur,3,9.00
7,789,Gary,Davis,1996-10-08,M,8971256859,asd@gmail.com,14,Sitapur,B.n Road,Ayodhya,2,8.50
8,876,Irene,Rodriguez,1996-03-07,F,6314313561,agr@gmail.com,11,Gangtok,Ghaziabad,Moradabad,4,9.10
9,987,Helen,Garica,1997-03-27,F,8975447834,avf@gmail.com,15,Saharanpur,13th Street,Anantapur,3,7.70

# 3- Display students whose CPI is more than 8 and gender is male

In [7]:
mycursor.execute("SELECT * FROM STUDENTS WHERE CPI > 8 AND GENDER = 'M';")
result = mycursor.fetchall()
columns = getColumnNames('STUDENTS')
display(pd.DataFrame(data=result,columns=columns))

,STUDENT_ID,F_NAME,L_NAME,DOB,Gender,Phone,Email,House_Number,City,Street,Town,Semester,CPI
0,234,Bob,Johnson,1995-04-07,M,8978948646,abc@.gmail.com,21,Firozpur,M.L Road,ahmednagar,2,8.80
1,345,Craig,Williams,1995-02-04,M,8968954646,ade@gmail.com,17,Firozabad,Agra Road,Tundla,2,8.90
2,678,Fay,Miller,1996-08-27,M,8945687924,aqw@gmail.com,18,Mirzapur,tilak Road,Chittoor,3,8.30
3,765,Jay,Wilson,1998-08-08,M,6354512128,ang@gmail.com,12,Noida,S.N Road,Kanpur,3,9.00
4,789,Gary,Davis,1996-10-08,M,8971256859,asd@gmail.com,14,Sitapur,B.n Road,Ayodhya,2,8.50

## Project Link
[Github repo](https://github.com/insane-banda/University-Managment-System)